* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Irish Grover", system-ui;
    row-gap: 37px;
}

nav{
     background-color: #000000;
     width: 70%;
     border-radius: 16px;
      padding-bottom: 12px;
      text-align: center;
     order: -13;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.966);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
   
}

#txt {
    font-size: 21px;
    line-height: 1.8;
    margin-bottom: 20px;
    word-wrap: break-word;
    max-height: 200px;
    overflow-y: auto;
    width: 77%;
    text-align: center;
}

.typing-game {
    min-height: 130px;
    max-height: 130px;
    max-width: 100%;
    min-width: 100%;
    padding: 12px 15px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: rgba(195, 181, 181, 0.1);
    font-family: 'Courier New', Courier, monospace;
    color: rgba(66, 156, 162, 0.397);
}

span {
    color: rgba(255, 255, 255, 0.356);
}

.correct {
    color: #ffffffc4;
}

.wrong {
    color: #d63f3f86;
    text-decoration: underline 1px;
}

.controle {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}
.controle div{
     min-width: 200px;
}

.timeNone{
       display: none;
}
.timeBlock{
       display: flex;/*<----matansach flex hna*/
       align-items: center;
       justify-content: center;
       position: fixed;
       background-color: #ffffffa1;
       width: 100%;
       height: 100vh;
      
}

.wineNone{
       display: none;
}
.wineBlock{
       display: flex;
       align-items: center;
       justify-content: center;
       position: fixed;
       background-color: #ffffffa1;
       width: 100%;
       height: 100vh;
      
}

#time div:first-child{
    background-color: black ;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0px 0px 14px #000000;
}
#time div div{
     display: flex;
     align-items: center;
     gap: 40px;
     margin-top: 23px;
     padding: 8px;
     cursor: pointer;
     border-radius: 2px;

}

#time div div:hover{
    background-color: rgba(36, 51, 63, 0.409);
}

#time div div:hover > .p1 {
    color: rgba(66, 156, 162, 0.804);
}

#time div div p:first-child{
     width: 240px;


}
.errors{
      color: #902e2e;
}

.finish{
     display: flex;
     gap: 13px;
}

.finish button,.result-box button{
    color: aliceblue;
     background-color: #14354a00;
     cursor: pointer;
     padding: 4px 33px;
     border-radius: 16px;
    font-family: "Irish Grover", system-ui;
     border: 1px solid rgba(255, 255, 255, 0.386);
}

.finish button:hover{
    color: rgba(66, 156, 162, 0.6);
    background-color: #000000;
   
}


/* result */
.n-result-box{
   display: flex;
   position: fixed;
   inset: 0;
   background: rgba(0, 0, 0, 0.85);
   justify-content: center;
   align-items: center;
   z-index: 999;
}

.result-box img{
      height: 158px;
      width: 293px;
      border-radius: 12px;
}
.hidden-result-box {
  display: none;
}

.result-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    width: 50%;
    padding: 30px 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
    max-width: 400px;
    color: aliceblue;
    animation: fadeIn 0.4s ease;
  
}

.result-box h2 {

  margin-bottom: 20px;
  margin-top: 20px;
     color: rgba(66, 156, 162, 0.6);
}

.result-box p {
  margin: 8px 0;
  font-size: 1rem;
}

.result-box button:hover {
     color: rgba(66, 156, 162, 0.6);
    background-color: #000000;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}
